<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
</head>
<body>
    <p align="center">hello, {{ name }}</p>
    </br>
    <a href="/logout">登出</a></br>
    <a href="">体侧预约</a></br>
    <a href="">预约查询</a></br>
    <a href="/query">测试数据查询</a></br>
    <a href="">实时数据查询</a></br>
    <a href="">申请免测</a></br>

</body>
</html>
